<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>페이지를 찾을 수 없습니다</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5 text-center">
    <h1 class="display-1">404</h1>
    <h2>페이지를 찾을 수 없습니다</h2>
    <p class="lead">요청하신 블로그가 존재하지 않거나 접근할 수 없습니다.</p>
    <a href="/" class="btn btn-primary mt-3">홈으로 돌아가기</a>
</div>
</body>
</html>
